.vscode/**
.vscode-test/**
.git/**
.gitignore
.gradle/**
.idea/**
node_modules/**
out/**
src/**
**/tsconfig.json
**/webpack.config.js
**/.eslintrc.json
**/*.map
**/*.ts
!src/extension.ts
!src/websocket.ts
!src/types.ts
!src/index.ts
