.vscode/**
.vscode-test/**
.git/**
.gitignore
.gradle/**
.idea/**
node_modules/**
src/**
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
../**
test/**
out/test/**
**/tsconfig.*.json
**/.eslintrc.*.json
**/*.vsix